.App {
  background-color: #BB8F8F;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome {
  font-size: larger;
  margin: 50px;
  padding: 10px;
  text-align: center;
}

.Before {
  font-size: larger;
  margin: 50px;
  padding: 10px;
  text-align: center;
}

.tableEdit {
  border-spacing: 0 15px;
  width: 1000px;
  font-size: larger;
  padding: 35px;
  margin: auto;
  border: 4px solid;
  border-radius: 8px;
  border-collapse: inherit;
  text-align: center;
}

.After {
  font-size: larger;
  margin: 50px;
  padding: 10px;
  text-align: center;
}